.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 캐서렐 css */
.carousel .slide {
  background-color: rgb(240, 240, 240) !important;
  /* background: red !important; */
  height: 300px !important;
  padding-top: 50px !important;
  padding-left: 200px !important;
}
.control-prev:before {
  content: url("./media/prev.png") !important;
  /* background-color: rgb(240, 240, 240) !important; */
}
[dir="rtl"] .control-prev:before {
  content: url("./media/prev.png") !important;
}

.control-next:before {
  content: url("./media/next.png") !important;
}
[dir="rtl"] .control-next:before {
  content: url("./media/next.png") !important;
}
