.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @font-face {
  font-family: "MapoGoldenPier";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "Noto Sans KR !important";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 캐서렐 css */
.carousel .slide {
  background-color: rgb(240, 240, 240) !important;
  /* background-color: white !important; */
  /* background-color: yellowgreen !important; */
  /* background: red !important; */
  height: 220px !important;
  /* padding-top: 50px !important; */
  display: flex !important;
  justify-items: center !important;
  justify-content: center !important;
  /* padding-left: 200px !important; */
}
.control-prev:before {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50% !important;
  display: block !important;
  height: 100% !important;
  padding: 0 !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
  cursor: pointer !important;
  border: none !important;
  color: black !important;
  outline: none !important;
  background: transparent;
  width: 15%;
  z-index: 2;
  opacity: 0.5;
}
[dir="rtl"] .control-prev:before {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  height: 100%;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  color: transparent;
  outline: none;
  background: transparent;
  width: 15%;
  z-index: 2;
  opacity: 0.5;
}

.control-next:before {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  height: 100%;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  color: transparent;
  outline: none;
  background: transparent;
  width: 15%;
  z-index: 2;
  opacity: 0.5;
}
[dir="rtl"] .control-next:before {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  height: 100%;
  padding: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  color: transparent;
  outline: none;
  background: transparent;
  width: 15%;
  z-index: 2;
  opacity: 0.5;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-7 20:56:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */

.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* 호버이벤트  */

.darkness {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  background: #000000;
  /* 추가된 부분 */
  opacity: 0;
  transition: all 0.6s linear;
}

.btn-plus {
  position: absolute;
  top: 60px;
  left: 36px;
  background: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  /* 추가된 부분 */
  opacity: 0;
  transform: scale(2);
  transition: all 0.3s linear;
}

.btn-plus span {
  font-size: 2.3em;
  color: #ffffff;
  user-select: none;
}
.count span {
  font-size: 2.3em;
  /* color: red; */
  width: 55px;
  height: 55px;
  top: 220px;
  /* padding-left: 10px; */
  margin-left: 20px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  /* border: 1px solid red; */
  user-select: none;
  position: absolute;
  background: none;
  border-radius: 50%;
  text-align: center;
}

/* 추가된 부분 */
.tracking-in-contract-bck:hover .darkness {
  opacity: 0.6;
}

/* 추가된 부분 */
.tracking-in-contract-bck:hover .btn-plus {
  opacity: 1;
  transform: scale(1);
}
